<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>List of photos</h1>
  <form action="/add_photo">
    <label for="image">Image</label>
    <input type="text" id="image" placeholder="Enter a URL for the image" name="query_image">
    <label for="caption">Caption</label>
    <textarea name="query_caption" id="caption" cols="20" rows="2" placeholder="Enter a caption for the photo..."></textarea>
    <label for="owner_id">Owner ID</label>
    <input name="query_owner_id" type="text" id="owner_id" placeholder="Enter an ID of a User">
    <button>Add photo</button>
  </form>
  <br>
  <table border="1">
    <thead>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
    </thead>
    <% @all_photos.each do |photo|%>
    <tr>
      <td><img src="<%= photo.image%>" alt=""></td>
      <td><%= photo.caption%></td>
      <td><%= photo.poster.username%></td>
      <td><%= photo.created_at%></td>
      <td><a href="photos/<%= photo.id%>">Show details</a></td>
    </tr>
    <%end%>
  </table>
</body>
</html>
